#alert{
    margin:auto;

    width:10em;
    padding:1em;
    border: solid steelblue 0.1em;
    border-radius:2em;

    text-align: center;
    font-size:4em;
    font-weight: 800;

    color:steelblue;
   background-color: yellow;
}






